<div class="component-wrapper">
  <div class="emphasized">
    <form class="content" [formGroup]="form">
      <app-logo [logoOnly]="false"></app-logo>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="id" type="email"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="isPasswordVisible ? 'text' : 'password'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          toggle-button
          [(toggleVal)]="isPasswordVisible"
          type="button"
        >
          <mat-icon>
            {{ isPasswordVisible ? "visibility" : "visibility_off" }}
          </mat-icon>
        </button>
      </mat-form-field>
      <app-button (click)="onSubmit()" type="submit"> Login </app-button>
      <app-button secondary (click)="navToSignUp()">
        Don't have an account yet? Sign up now!
      </app-button>
      <app-login-with-providers></app-login-with-providers>
    </form>
  </div>
</div>
