<app-logo [logoOnly]="false" (click)="navigateToHome()"></app-logo>
<div class="center"></div>
<div class="actions">
  @if (!isLoggedIn) {
  <app-button secondary (click)="navigateToLogin()"> Login </app-button>
  <app-button>
    <span>Get Started</span>
    <app-icon [icon]="iconTypes.RIGHT_ARROW"></app-icon>
  </app-button>
  } @else {
  <app-button [matMenuTriggerFor]="menu">
    <span>{{ user.email }}</span>
  </app-button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="signOut()">Logout</button>
  </mat-menu>
  }
</div>
