@import "../../styles/mixins.scss";
@import "../../styles/variables";

button {
  @include reset-button;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: $border-radius;

  width: 100%;

  &.disabled {
    cursor: default;
  }
}

.primary {
  background-color: $primary-color;
  color: white;

  &.disabled {
    background-color: grey !important;
  }

  &.darkBg {
    border: 1px solid white;
    box-sizing: border-box;

    &.disabled {
      border: 1px solid grey;
      color: grey;
    }
  }
}

.secondary {
  color: $primary-color;

  &.disabled {
    color: grey;
  }

  &.darkBg {
    color: white !important;

    &.disabled {
      color: grey !important;
    }
  }
}
