@import "../../styles/mixins.scss";
@import "../../styles/variables";

button {
  @include reset-button;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: $border-radius;
}

.primary {
  background: $primary-color;
  color: white;

  &.darkBg {
    border: 1px solid white;
    box-sizing: border-box;
  }
}

.secondary {
  color: $primary-color;

  &.darkBg {
    color: white !important;
  }
}
