<app-document-wrapper #document>
  <div class="top subtext left">
    <app-text-spacer [width]="135" textAlign="left">
      Republic of the Philippines
    </app-text-spacer>
    &#125;
  </div>
  <div class="subtext left">
    <app-text-spacer [width]="135" textAlign="left" field="location">
    </app-text-spacer>
    &#125;&nbsp;s.s.
  </div>
  <h1 class="header center">Affidavit of Loss</h1>
  <p class="body justify">
    <app-text-spacer [width]="25"></app-text-spacer> I,
    <app-text-spacer [width]="130" field="affiantName"></app-text-spacer>
    , of legal age,
    <app-text-spacer [width]="70" field="civilStatus"></app-text-spacer>
    , Filipino and with principal or residential address at
    <app-text-spacer [width]="200" field="address"></app-text-spacer>
    , after being duly sworn to in accordance with law, hereby depose and say
    that:
  </p>
  <ol>
    <li class="body justify">
      I am the owner of a
      <app-text-spacer [width]="150" field="missingDoc"></app-text-spacer>
      with reference number of
      <app-text-spacer [width]="130" field="referenceNumber"></app-text-spacer>.
    </li>
    <br />
    <li class="body justify">
      On
      <app-text-spacer
        [width]="130"
        field="approximateDateOfLoss"
      ></app-text-spacer>
      , I found out that I lost my
      <app-text-spacer [width]="130" field="missingDoc"></app-text-spacer>
      based on the situation and circumstances narrated below:
      <div class="text-box">
        <app-text-spacer
          fullWidth
          fullHeight
          wrapText
          textAlign="left"
          field="circumstances"
        ></app-text-spacer>
      </div>
    </li>
    <br />
    <li class="body justify">
      Despite my diligent and best efforts, I was no longer able to locate the
      same. Thus, the said item is now irretrievably loss.
    </li>
    <br />
    <li class="body justify">
      I hereby execute this affidavit to attest to the foregoing facts and for
      whatever legal purpose it may serve.
    </li>
  </ol>
  <p class="body justify">
    <app-text-spacer [width]="25"></app-text-spacer> IN WITNESS WHEREOF, I
    hereby affix my signature on
    <app-text-spacer [width]="100" field="dateSigned"></app-text-spacer> at
    <app-text-spacer [width]="100" field="location"></app-text-spacer>,
    Philippines.
  </p>
  <div class="signature">
    <div class="signature-content">
      <span class="subheader center">
        <app-text-spacer [width]="175" field="affiantName"></app-text-spacer>
      </span>
      <span>Affiant</span>
    </div>
  </div>
  <p class="body justify">
    <app-text-spacer [width]="25"></app-text-spacer>
    SUBSCRIBED AND SWORN to before me in the date and place stated above, after
    the affiant avowed under penalty of law to the whole truth of the contents
    thereof and thereafter exhibited to me his/her
    <app-text-spacer [width]="130" field="validId"></app-text-spacer> as
    competent evidence of identity.
  </p>
  <div class="subtext left">
    Doc. No. _____ <br />
    Page No. _____ <br />
    Book No. _____ <br />
    Series of _____ <br />
  </div>
</app-document-wrapper>
