<app-document-wrapper #document>
  <div class="top subtext left">
    <app-text-spacer [width]="135" textAlign="left">
      Republic of the Philippines
    </app-text-spacer>
    &#125;
  </div>
  <div class="top subtext left">
    <app-text-spacer [width]="135" textAlign="left" field="location">
    </app-text-spacer>
    &#125;&nbsp;s.s.
  </div>
  <h1 class="header center">Affidavit of Loss</h1>
  <p class="body justify">
    <app-text-spacer [width]="25"></app-text-spacer> I,
    <app-text-spacer [width]="130" field="affiantName"></app-text-spacer>
    , of legal age,
    <app-text-spacer [width]="70" field="civilStatus"></app-text-spacer>
    , Filipino and with principal or residential address at
    <app-text-spacer [width]="200" field="address"></app-text-spacer>
    , after being duly sworn to in accordance with law, hereby depose and say
    that:
  </p>
  <ol>
    <li class="body justify">
      I am the owner of a ______________ with reference number of
      ______________.
    </li>
    <br />
    <li class="body justify">
      On ______________, I found out that I lost my _________________ based on
      the situation and circumstances narrated below:
    </li>
    <br />
    <li class="body justify">
      Despite my diligent and best efforts, I was no longer able to locate the
      same. Thus, the said item is now irretrievably loss.
    </li>
    <br />
    <li class="body justify">
      I hereby execute this affidavit to attest to the foregoing facts and for
      whatever legal purpose it may serve.
    </li>
  </ol>
  <p class="body justify">
    <app-text-spacer [width]="25"></app-text-spacer> IN WITNESS WHEREOF, I
    hereby affix my signature on ________________________ at Quezon City,
    Philippines.
  </p>
</app-document-wrapper>
