:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .data-filters {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .date-filters {
      display: flex;
      align-items: center;
      gap: 1rem;

      div {
        box-sizing: border-box;
        padding-bottom: 20px;
      }

      .horizontal-selector {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}
