@import "../../../../shared/styles/variables";
@import "../../../../shared/styles/mixins";

.component-wrapper {
  @include full-size-div;

  display: grid;
  place-items: center;
  padding-bottom: $header-height;

  .emphasized {
    @include emphasized;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      gap: 1rem;

      .name {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }

      app-logo {
        margin: 0 3rem 1rem 3rem;
      }
    }
  }
}
