@import "../../styles/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;

  padding: 2rem;

  .message {
    display: flex;
    justify-content: flex-start;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
