<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>City/Municipality</mat-label>
    <input
      matInput
      formControlName="location"
      (focus)="setCurrentField('location')"
      (blur)="setCurrentField()"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Name of the Affiant</mat-label>
    <input
      matInput
      formControlName="affiantName"
      (focus)="setCurrentField('affiantName')"
      (blur)="setCurrentField()"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Civil Status</mat-label>
    <input
      matInput
      formControlName="civilStatus"
      (focus)="setCurrentField('civilStatus')"
      (blur)="setCurrentField()"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <input
      matInput
      formControlName="address"
      (focus)="setCurrentField('address')"
      (blur)="setCurrentField()"
    />
  </mat-form-field>
</form>
