<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>City/Municipality</mat-label>
    <input matInput formControlName="location" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Name of the Affiant</mat-label>
    <input matInput formControlName="affiantName" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Civil Status</mat-label>
    <input matInput formControlName="civilStatus" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput formControlName="address" />
  </mat-form-field>
</form>
