<app-bg-wrapper>
  <div class="section section1">
    <div class="info">
      <div class="header">
        Tired of long queues <br />
        for your documents?
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus saepe
        error quibusdam sequi consequuntur, cum eum, architecto voluptates
        repellendus suscipit maiores repudiandae! Voluptate ducimus voluptates
        omnis dolor, nesciunt eligendi ipsam.
      </div>
      <div class="actions">
        <app-button>
          Get Started
          <app-icon [icon]="iconTypes.RIGHT_ARROW"></app-icon>
        </app-button>
        <app-button secondary>Learn More</app-button>
      </div>
    </div>
    <div class="info">
      <app-landing-form></app-landing-form>
    </div>
    <div class="info">
      <app-important-point label="Effortless Scheduling">
        Schedule an appointment directly through our platform with a partner
        firm that specializes in your needs.
      </app-important-point>
    </div>
    <div class="info">
      <app-important-point label="Hassle-Free Documents">
        Attend your appointment to get your document professionally handled,
        printed, and ready for pickup.
      </app-important-point>
    </div>
    <div class="info">
      <app-important-point label="Convenient">
        We eliminate the need for extensive research or the daunting task of
        finding the right law firm.
      </app-important-point>
    </div>
  </div>
  <div class="horizontal-strip">
    <span> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </span>
    <div class="images">
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
    </div>
  </div>
  <div class="section section2">
    <div class="hint">AN OVERLOOKED ISSUE</div>
    <div class="header">
      Stamp Quest: <br />
      Navigating the Notary Maze
    </div>
    <span>
      This isn't just about stamps and seals; it's about the everyday Filipino's
      access to essential services, <br />a fundamental right that's slipping
      through the cracks of our urban-rural divide.
    </span>
    <div class="actions">
      <app-button>
        Get Started
        <app-icon [icon]="iconTypes.RIGHT_ARROW"></app-icon>
      </app-button>
      <app-button secondary>Learn More</app-button>
    </div>
    <div class="image"></div>
    <span class="subtext">
      With Affidavit.ph, simplify the process into easy steps—whether you're
      starting from scratch or have documents ready to go. <br />
      Giving the right to accessible services is not just a promise; it's a
      reality, bridging the gap with technology and convenience at the
      forefront.
    </span>
  </div>
  <div class="section section3">
    <div class="left">
      <div class="hint">WHAT WE DO</div>
      <div class="header">
        Easy. Simple. <br />
        Innovative.
      </div>
      <span>
        We revolutionize the way you access legal services in the Philippines.
        We're here to streamline the process, making legal services more
        accessible, efficient, and affordable than ever before.
      </span>
    </div>
    <div class="image">
      <img src="assets/png/poiting-left.png" />
    </div>
  </div>
  <div class="section section4">
    <div class="hint">HOW WE DO IT</div>
    <div class="header">Documents in just a few clicks</div>
    <span>
      Our platform guides you through every step, ensuring you provide all
      necessary information without any legal jargon. <br />
      We make sure to offer a simple process for obtaining affidavits and other
      legal documents,<br />
      we ensure that legal assistance is just a few clicks away.
    </span>
    <div class="points">
      <app-important-point label="Step 1">
        Fill out a form for your affidavit or any legal document
      </app-important-point>
      <app-important-point label="Step 2">
        Schedule an appointment with a partner firm
      </app-important-point>
      <app-important-point label="Step 3">
        Attend the appointment and get your document
      </app-important-point>
    </div>
    <div class="image"></div>
  </div>
  <div class="section section5">
    <div class="top">
      <div class="left">
        <div class="hint">WHY CHOOSE US</div>
        <div class="header">
          Making things <br />
          accessible
        </div>
        <span>
          In a world where legal assistance is often seen as complex and
          inaccessible, we stand out by making it straightforward and reachable
          for everyone.
        </span>
      </div>
      <div class="image">
        <img src="assets/png/double-thumbs-up.png" />
      </div>
    </div>
    <div class="images">
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
    </div>
  </div>
</app-bg-wrapper>
