@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";

:host {
  @include document;

  .isSelected {
    border: 1px solid $primary-color;
    box-sizing: border-box;
    border-radius: 5px;
  }
}
