@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";

:host {
  @include document;

  .wrap-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .isSelected {
    border: 1px solid $primary-color;
    box-sizing: border-box;
  }

  .fullWidth {
    width: 100%;
  }

  .fullHeight {
    height: 100%;
  }
}
