<app-bg-wrapper>
  <div class="wrapper">
    <div class="inputs">
      <app-affidavit-of-loss-fields></app-affidavit-of-loss-fields>
      <app-button (click)="generatePDF()" [disabled]="buttonDisabled">
        Generate
      </app-button>
    </div>
    <div class="view" #view>
      <div class="scalable" [style.transform]="scale">
        <app-affidavit-of-loss
          #generator
          (widthReady)="scaleChildToFitParent($event)"
        ></app-affidavit-of-loss>
      </div>
    </div>
  </div>
</app-bg-wrapper>
